.notes-container{
    box-sizing: border-box;
    border-radius: 10px;
    margin: 2.5%;
    box-shadow: 5px 5px; 
    width: 340px;
    height: 290px;
    margin: 18px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    transition: transform 0.15s ease-in-out;
    display: inline-block;
    overflow: hidden;
}

.notes-container:hover{
    transform: translate(-10px, -7px); /* shifts the card up and to the left */
}

img.notes-image{
    height:230px;
    width: 340px;
}

.notes-header-color{
    display: block;
    padding-bottom: 20px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-left: 8px;
    margin-bottom: 18px;

}

.title span {
    background-color: rgb(218, 229, 255);
    padding: 2px 3.2px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.title span:hover{
    background-color: #48D1CC; /* changes the background color on hover */
}

.notes-description{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-left: 8px;
    padding: 2px 3.2px;
    text-align: center;
}