.navbar-container {
    display: flex;
    justify-content: center;
  }
  
  .navbar {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-logo {
    width: 30px;
    height: auto; 
    margin-right: 25px; 
  }

  .navbar-left, .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-title {
    margin-right: 5px;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}
  
  .navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-li {
    margin-right: 30px;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: 'Nunito', sans-serif;
    font-size: 0.95em; /* Shrunk the text size */
  }
  
  .navbar-li:hover {
    color: #000000;
  }
  
  .dropdown::after {
    content: "▼";
    font-size: 7px;
    padding-left: 5px;
    opacity: 0.8;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    animation: slideDown 0.3s ease;
    font-size: 20px;
  }
  
  .dropdown-content li {
    padding: 5px 0;
    list-style: none; /* Remove bullet points */
  }
  
  .dropdown-content a {
    text-decoration: none;
    color: black;
    font-size: 0.65em; /* Shrunk the text size */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .no-dropdown::after {
    content: ""; /* Removed the dropdown arrow */
  }
  
  .login-button {
    background-color: #FFD700;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #FFAA00;
  }
  
  .user-profile {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  .user-profile:hover {
    color: #000000;
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
  
   100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .pfp{
    width: 35px;
    height: 35px;
  }