* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.homepage{
  margin-top: 45px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.firstRow { 
  color: #FFC000;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header p {
  font-size: 16px;
  opacity: 0.9;
  color: #666;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features, .mission, .cta {
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}

.footer p {
  font-size: 14px;
  color: #666;
}
