.card-container {
  width: calc(50% - 10px);
  box-sizing: border-box;
  margin: 1rem; /* adjust as needed */
}

h2.user{
  margin-top: 10px;
  font-size: 34px;
}

.profile-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: #F5F5F5;
  color: #333;
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 45px;
  border-radius: 10px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-username {
  font-size: 26px;
  font-weight: 700;
  color: #FFD700;
  margin-bottom: 5px;
}

.profile-fullname, .profile-email {
  font-size: 16px;
  color: #666;
}

.profile-section-title {
  font-size: 20px;
  font-weight: 600;
  color: #FFD700;
  margin: 20px 0;
  text-align: left;
  width: 100%;
}

.profile-details, .profile-activity {
  width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile-points, .profile-level, .profile-joined {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
